/** global classes styling and variables definitions **/
@use 'sass:color';

:root {
  --pink: #f864bd;
  --purple: #7b7beb;
  --text-color: white;
  --popup-menu-size: 3.125rem; /* 50px */
  --border-radius: 50%;
  --icon-color: #7b7beb;
}

@mixin gradient-border {
  background: linear-gradient(to right, var(--pink), var(--purple)) border-box;
}

/* check if you need that */
@mixin easeOut {
  transition: all .3s ease-out;
}

* { 
  margin: 0; 
  padding: 0; 
}

*, *::before, *::after { 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  font-family: "Playfair Display", sans-serif;
  background: url('../img/fullbackground.jpg') no-repeat center center fixed;
  background-size: cover;
  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(26, 26, 26, .95);   
  }
}

a {
  color: var(--text-color);
  cursor: pointer;
}

// Headings
h1, h2, h3 {
  &.sm-heading {
    padding: .2rem 0; /* 3.2px 0 */
  }
}

h2 {
  &.sm-heading {
    font-size: calc(1.275rem + .9vw); /* 2.4px + .9% of viewport width */
  }
}

.gradient-text {
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo */


/* Main */
main {
  min-height: calc(100dvh - (5.35rem + (2 * 3rem))); 
  @media (min-width: 768px) {
    min-height: calc(100dvh - (5.35rem + (2 * 1.25rem))); 
  }
  @media (min-width: 1200px) {
    min-height: calc(100dvh - (5.35rem + (2 * 3.125rem)));
  }
  .name-and-info {
    margin-top: 3rem; /* 48px */
  }
  &#about { 
    padding: 9rem 2rem 4rem 2rem; /* 144px 32px 64px 32px */
  }
}

/* Hero image */
.hero-img {
  width: 14.0625rem; /* 225px */
  height: 14.0625rem; /* 225px */
  background: url('../img/hero.webp') no-repeat center center;
  border-radius: var(--border-radius);
  $border: .25rem; /* 4px */
  background-clip: padding-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    @include gradient-border;
  }
}

/* SVG icons */
.social-icons {
  .svg-icons {
    .icon-path {
      fill: var(--purple);
      transition: fill .3s ease-out;
    }
    &:hover {
      .icon-path {
        fill: url(#linearGradient);
      }
    }
  }
}

/** media queries for responsive design **/
@media (min-width: 768px) {
  h2 {
    &.sm-heading { 
      padding-left: 2.1875rem; /* 35px */
      font-size: calc(1.325rem + .9vw); 
    }
  }
}

@media (min-width: 1200px) {
  h2 {
    &.sm-heading { 
      padding-left: 2.75rem; /* 44px */
    }
  }
}