$bg-color: #444;
$secondary-color: #1fcbcf;

#home {
  // to avoid scrolling bars
  min-height: 100dvh;
  height: 100%;
}
/* Cursor for the Type Writter effect */
.txt-type > .txt { border-right: 0.5rem solid set-text-color($bg-color); }