/* About Me Page Styles */
#about-me {
  @media (min-width: 1200px) {
    margin-top: 6.15rem !important; /* 98.4px */
    margin-bottom: 6.15rem !important; /* 98.4px */
  }
  .hero-and-skills { 
    @media (min-width: 1200px) {
      min-width: 21.875rem; /* 350px */
    }
    @media (min-width: 1400px) {
      min-width: 26.5625rem; /* 425px */
    }
    @media (min-width: 1600px) {
      min-width: 21.875rem; /* 350px */
    }
    @media (min-width: 1920px) {
      min-width: 30.3125rem; /* 485px */
    }
  }
  .bio-text {
    @media (min-width: 1200px) {
      font-size: 1.875rem !important; /* 30px */
    }
    @media (min-width: 1600px) {
      font-size: 2rem !important; /* 32px */
    }
  } 
}