/** global classes styling and variables definitions **/
@use 'sass:color';

:root {
  --pink: #f864bd;
  --purple: #7b7beb;
  --deep-purple: rgba(30, 22, 33, .85);
  --dark-overlay: rgba(26,26,26,.5);
  --light-grey: #808080;
  --dark-grey: #525252;
  --text-color: white;
  --border-radius: 50%;
  --transition: var(--transition);
  --popup-menu-size: 3.125rem; /* 50px */
}

@mixin gradient-border {
  background: linear-gradient(to right, var(--pink), var(--purple));
}

* { 
  margin: 0; 
  padding: 0; 
}

*, *::before, *::after { 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Playfair Display", sans-serif;
}

/* Header */
header {
  z-index: 20;
  min-height: 5.25rem; /* 84px */
  a {
    min-height: 5.25rem; /* 84px */
  }
}

/* Logo */
.logo {
  width: 5rem; /* 80px */
  height: 5.3125rem; /* 85px */
  transform: scale(.7059);
  background: url('../img/logo.png') no-repeat;
  &:hover {
    transform: scale(.75);
    transition: transform .2s ease-in-out;
  }
}

a {
  color: var(--text-color);
  cursor: pointer;
}

/* Fixed background and overlay */
.background-container, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.background-container {
  z-index: -2; /* Behind everything */
  background: url('../img/full-background.webp') no-repeat center center/cover fixed;
  will-change: transform;
}

.overlay {
  z-index: -1; /* Above background, below content */
  background: rgba(26, 26, 26, .85);
}

.content-wrapper {
  z-index: 1; /* Above overlay */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .background-container, .overlay {
    background-attachment: scroll; /* Fallback for mobile jitter */
  }
}

/* Home and Contact me Pages */
.home-page, .contact-me {
  min-height: 100vh;
  .content-wrapper {
    min-height: 100vh;
  }
  #contact-me {
    min-height: calc(100vh - 9.0625rem); /* 100vh - 145px */
  }
}

#home-page {
  min-height: 100vh;
  .hero-and-socials {
    margin-top: 3.35rem; /* 53.6px */
    @media (min-width: 768px) {
      margin-top: 10.25rem; /* 164px */
    }
    @media (min-width: 1200px) {
      margin-top: 5rem; /* 80px */
    }
  }
  .name-and-info {
    margin-top: 2rem; /* 32px */
    h1 {
      &.display-1 {
        font-size: calc(1.125rem + 4.5vw) !important;
        @media (min-width: 1200px) {
          font-size: 4.25rem !important;
        }
      }
    }
    .info {
      padding-left: 1rem; /* 16px */
      @media (min-width: 768px) {
        padding-left: 4.25rem; /* 68px */
      }
      @media (min-width: 1200px) {
        padding-left: 6.25rem; /* 100px */
      }
    }
  }
}

/* Hero image */
.hero-img-container {
  padding: 0.125rem; /* 2px */
  background: linear-gradient(to right, var(--pink), var(--purple)) border-box;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  .hero-img {
    border: 0.125rem solid transparent; /* 2px */
    border-radius: var(--border-radius);
    object-fit: cover;
  }
}

/* Headings */
h1, h2, h3 {
  &.sm-heading {
    padding: .2rem 0; /* 3.2px 0 */
  }
}

h2, h3, h4, p {
  &.sm-heading {
    font-size: calc(1.275rem + .9vw); /* 2.4px + .9% of viewport width */
  }
}

/* media queries for responsive design */
/* Headings and paragraphs with small heading style */
h2, p {
  &.sm-heading:not(.info, .bio-text, .projects-heading) { 
    @media (min-width: 768px) {
      padding-left: 2.1875rem; /* 35px */
      font-size: calc(1.325rem + .9vw); /* 2.12px + .9% of viewport width */
    }
    @media (min-width: 1200px) {
      padding-left: 2.75rem !important; /* 44px */
    }
  }
}

/* Common styles */
.gradient-text {
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, var(--pink), var(--purple));
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SVG icons */
.svg-icon {
  .icon-path {
    fill: var(--purple);
    transition: fill .3s ease-out;
  }
  &:hover {
    .icon-path {
      fill: url(#linearGradient);
    }
  }
}

/* Floating Action Button */
.popup-menu {
  width: var(--popup-menu-size);
  height: var(--popup-menu-size); 
  border-radius: var(--border-radius);
  bottom: 1rem; 
  right: 1rem;
  z-index: 1050;
  .fab {
    background: var(--purple);
    width: var(--popup-menu-size);
    height: var(--popup-menu-size);
    z-index: 3;
    border-radius: var(--border-radius);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .4); /* 0 2px 4px */
    animation: fab-animation-reverse .4s ease-out forwards;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: .25rem; /* 4px */
      background: var(--text-color);
    }
    &::before {
      width: .25rem; /* 4px */
      height: 1.5rem; /* 18px */
    }
    &::after {
      width: 1.5rem; /* 18px */
      height: .25rem; /* 4px */
    }
  }
  /* floating actions container */
  .fac {
    width: 3rem; /* 48px */
    height: 10rem; /* 160px */
    border-radius: 4rem; /* 64px */
    background: var(--text-color);
    z-index: 2;
    padding: .5rem; /* 8px */
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .4); /* 0 2px 4px */
    opacity: 0;
    top: -6.875rem; /* -110px */
    left: 0;
    transition: opacity .2s ease-in, top .2s ease-in, width .1s ease-in;
    a {
      color: var(--purple);
      opacity: .8;
      &:hover {
        transition: .2s;
        opacity: 1;
        color: color.adjust(#344955, $blackness: 2%);
      }
    }
  }
  input {
    border-radius: var(--border-radius);
    cursor: pointer;
    z-index: 5;
    opacity: 0;
    &:checked {
      ~ .fab {
        animation: fab-animation .4s ease-out forwards;
      }
      ~ .fac {
        width: 3rem; /* 48px */
        height: 10rem; /* 160px */
        animation: fac-animation .4s ease-out forwards .1s;
        top: -10.5rem; /* -168px */
        left: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes fab-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(.93);
  }
  55% {
    transform: rotate(35deg) scale(.97);
  }
  80% {
    transform: rotate(48deg) scale(.94);
  }
  100% {
    transform: rotate(45deg) scale(.95);
  }
}

@keyframes fab-animation-reverse {
  0% {
    transform: rotate(45deg) scale(.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

@keyframes fac-animation {
  0% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(.95, 1.05);
  }
  66% {
    transform: scale(1.05, .95);
  }
  100% {
    transform: scale(1, 1);
  }
}